*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

    background-color: hsl(55, 81%, 79%);
    position: sticky;
    top: 0;
}

.container-search{

    margin: 2rem 0;
}

.container-search:nth-child(3){

    background-color: #F06543;
}

main{

    background-color: hsl(55, 81%, 79%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-container{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 4rem;
    place-items: center;
    width: 100%;
}

.card-img{
  
    padding: .8rem;
    background-color: #F06543;
}

.show-img{

    width: 200px;
    height: 200px;
}

footer{

    background-color: #F06543;
}

.box{

    width: 100px;
    height: 200px;
    background-color: blue;
}